@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "terminal";
    default: false;
    prefersdark: true;
    color-scheme: "dark";

    --color-base-100: oklch(21.01% 0.0318 264.66);
    --color-base-200: oklch(26% 0 209);
    --color-base-300: oklch(40% 0 209);
    --color-base-content: oklch(83% 0.08 70);

    --color-primary: #ff6b6b;
    --color-primary-content: oklch(30% 0.12 10);

    --color-secondary: #a3a3a3;
    --color-secondary-content: oklch(43% 0.08 70);
    --color-accent: #d4d4d4;
    --color-accent-content: #1f1f1f;

    --color-neutral: #525252;
    --color-neutral-content: #d1d5db;

    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(79% 0.209 151.711);
    --color-success-content: oklch(26% 0.065 152.934);
    --color-warning: oklch(84.8% 0.1962 84.62);
    --color-warning-content: oklch(44.8% 0.1962 84.62);
    --color-error: oklch(65% 0.1985 24.22);
    --color-error-content: oklch(27% 0.1985 24.22);

    --radius-selector: 2rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}