package home

import (
	"github.com/sullyh7/portfolio/view/components"
	"github.com/sullyh7/portfolio/view/layout"
)

type HomePageProps struct {
	AboutMe    components.HeaderProps
	Projects   []components.ProjectCardProps
	Experience []components.ExperienceProps
}

templ Index(app layout.AppProps, home HomePageProps) {
	@layout.App(app) {
		<div>
			@components.Header(home.AboutMe)
			@components.Experience(home.Experience)
			@components.Projects(home.Projects)
		</div>
	}
}
